body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #21D4FD;
      background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  } 
  .login-container {
    max-width: 400px;
    background-color: #fff;
    padding: 2rem;
    padding-right: 3.2rem;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .login-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  .login-container button {
    width: 100%;
    padding: 12px;
    background-color: #21D4FD;
      background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.8s;
  }
  .login-container button:hover {
    opacity: 1;
  }
  .login-container .forgot-password {
    text-align: right;
    margin-top: 10px;
  }
  .forgot-password a {
    text-decoration: none;
  }
  .forgot-password a:hover {
    color: blueviolet;
    text-decoration: underline;
  }
  .login-container .register {
    text-align: center;
    margin-top: 15px;
  }
  .register a:hover {
    color: blueviolet;
    text-decoration: underline;
  }
  .register a {
    text-decoration: none;
  }
  .btn{
    position: absolute;
    bottom:0px;
    left:0px;
    margin-left:20px;
    margin-bottom:50px;
  }
  .btn button{
    width:70px;
    background-color:white;
    font-size:2.2rem;
    border-radius:45%;
    border:none;
    opacity: 0.8;
    transition:all 0.3s linear;
  }
  .btn button:hover{
    transform: translate3d(-10px, 0px, 0);
  }
  .btn button a{
    color:linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    text-decoration:none;
  }
  @media screen and (max-width: 768px) {
    .login-container {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .login-container {
      width: 70%;
      height: 100%;
      margin-top: 50px;
      padding: 10px;
    }
    input {
      font-size: 1.2rem;
    }
  }